//
//  Dev.xcconfig
//  vgs-stripe-ios-example
//
//  Created by andrew.slepakurov on 10/10/18.
//  Copyright © 2018 Very Good Security. All rights reserved.
//
STRIPE_REVERSE_KEY=<stripe_id_1>
PROXY_URL=<tenant_id>.SANDBOX.verygoodproxy.io
URL_SCHEMA=https
STRIPE_BASE_URL=api.stripe.com
STRIPE_TOKENS_URL=/v1/tokens
STRIPE_CHARGES_URL=/v1/charges
HTTPBIN_URL=/post
FIREBASE_URL=<firebase_id>.firebaseio.com/credit_cards